---
layout: default
title: Home
---

<div class="display-animation">
  <div class="full-content margin-bottom-40 bg-white">

{% include highlight_post.html %}

  </div>
</div>
<div class="display-animation">
  <div class="row image-row">

    <div class="col-md-8">
      <div id="latestgames0" class='card tile card-friend material-animate margin-bottom-8'></div>
      <div id="latestgames1" class='card tile card-friend material-animate margin-bottom-8'></div>
      <div id="latestgames2" class='card tile card-friend material-animate margin-bottom-8'></div>
      <div id="latestgames3" class='card tile card-friend material-animate margin-bottom-8'></div>
      <div class='card tile card-friend material-animate margin-bottom-8' style="text-align: center;">more...</div>
    </div>

<div class='col-md-4 material-animate margin-bottom-10'>
  <li id="quotes0"></li>
  <li id="quotes1"></li>
</div>

</div>
</div>


<div class="display-animation">
  <div class="row image-row margin-top-10 margin-bottom-40">

    <div class="col-md-3 material-animate">

      <li id="newgames0"></li>
      <li id="newgames1"></li>

    </div><!--.col-->
    <div class="col-md-3 material-animate">

      <li id="newgames2"></li>
      <li id="newgames3"></li>

    </div><!--.col-->
<!-- <h2>Featured User Content</h2> -->
{% for post in site.posts limit:1 offset:1 %}
    <div class="col-md-6">
      <div class="card tile card-news-more material-animate">
        <div class="card-heading bg-image bg-opaque5 toggle-card-news-more" {% if post.image %} style="background: url('{{ post.image }}') center/cover;" {% endif %}>
          <a class="author text-color-white"><img src="{{ post.avatar }}">{{ post.author }}</a>
          <div class="heading-content">

            <h1 class="headline"><strong>{{ post.title }}</strong> <small>{{ post.categories }}</small></h1>

            <button class="btn btn-floating btn-pink toggle-card-news-more"><i class="material-icons md-24">thumb_up</i></button>
          </div>
        </div><!--.card-heading-->
        <div class="card-body">
          {{ post.excerpt }}
          <div class="card-footer">
            <div class="btn-group btn-merged btn-group-sm pull-left">
              <span class="badge">{{ post.date | date: "%b %-d, %Y" }}{{ page.categories }}</span>
            </div>
    						<div class="btn-group btn-merged btn-group-sm pull-right">
    							<button type="button" class="btn btn-green btn-flat btn-ripple"><a href="{{ post.url | prepend: site.baseurl }}">Read More</a></button>
    						</div>
    					</div><!--.card-footer-->
        </div><!--.card-body-->

      </div><!--.card-->
    </div><!--.col-->

    <div class="col-md-8 material-animate">
      <div class="chart chart-sales-by-year without-time"></div>
    </div><!--.col-->
{% endfor %}
</div>
</div>

<div class="display-animation">
  <div class="row image-row">
<h2>Latest Links</h2>
<div class='col-lg-4 materail-animate'>
  <div id="links0"></div>
</div>
<div class='col-lg-4 material-animate'>
  <div id="links1"></div>
</div>

<div class='col-lg-4 material-animate'>

  <div id="links2"></div>

</div>

</div>
</div>



<div class="display-animation">
  <div class="row image-row margin-top-10">
<h2>Recent Videos</h2>
<div class="col-md-6">
  <div class="card card-video card-player-orange">
    <div id="trailer0">
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card card-video card-player-orange">
    <div id="trailer1">
    </div>
  </div>
</div>
</div>
</div>
