<div class="content">
<div class="page-header full-content">
  <div class="row">
    <div class="col-sm-6">
      {% if page.title == 'Home' %}
      <img src="http://talk.polygonalweave.com/uploads/default/24/034dcff74c2f7d44.png" height="42" width="42"> <h1><b>Polygonal</b> Talk</h1>
      {% else %}

        {% if page.title %}
      <h1>{{ page.title }}</h1>
      {% endif %}

    {% endif %}
    </div><!--.col-->
    <div class="col-sm-6">
      <ol class="breadcrumb">
        <li><a href="#" class="active"><i class="ion-android-apps"></i> DASHBOARD</a></li>
      </ol>
    </div><!--.col-->
  </div><!--.row-->
</div><!--.page-header-->
