<div class="row margin-top-20">

  <div id="highlightTopicImage" class="col-md-4 material-animate">
    <!-- <div class="hi-bg-image bg-opaque5" {% if post.image %} style="background: url('{{ post.image }}') center/cover;" {% endif %}> -->
    <!-- <a class="author text-color-white" href="#"><img src="{{ post.avatar }}">{{ post.author }}</a> -->
    <!-- </div> -->
  </div>
  <!--.col-->
  <div class="col-md-8 material-animate" style="max-height: 301px; overflow: hidden;">
    <div class="card margin-top-1" style="height: 300px;">
      <div id="discourse-comment" class="comments"></div>
      <div id="card-footer"></div>
    </div>
  </div>
</div>
  <!--.row-->
