{% assign post = site.posts.first %}
    <div class="row">

      <div class="col-md-4 material-animate padding-right-40">
        <div class="card">
        <h4 class="margin-bottom-1">{{ post.title }}</h4>
        <h4><small>{{ post.categories }} by {{ post.author }}</small></h4>
        <p class="text-grey">{{ post.excerpt }}</p>
        <div class="card-footer">
  						<div class="btn-group btn-merged btn-group-sm pull-right">
  							<button type="button" class="btn btn-green btn-flat btn-ripple"><a href="{{ post.url | prepend: site.baseurl }}">Read More</a></button>
  						</div>
  					</div>
          </div>
      </div><!--.col-->

      <div class="col-md-8 material-animate">
        <div class="hi-bg-image bg-opaque5" {% if post.image %} style="background: url('{{ post.image }}') center/cover;" {% endif %}>
            <!-- <a class="author text-color-white" href="#"><img src="{{ post.avatar }}">{{ post.author }}</a> -->
        </div>
      </div><!--.col-->
      <div class="col-md-8 material-animate">


    </div><!--.row-->
