<!-- BEGIN SEARCH LAYER -->
<div class="search-layer">
  <div class="search">
    <form action="pages-search-results.html">
      <div class="form-group">
        <input type="text" id="input-search" class="form-control" placeholder="type something">
        <button type="submit" class="btn btn-default disabled"><i class="ion-search"></i></button>
      </div>
    </form>
  </div><!--.search-->

  <div class="results">
    <div class="row">
<div id="LatestGamesSearch">
      <div class="col-md-4">
        <div class="result result-posts">
          <h4>Latest Games <small>(5)</small></h4>

          <ul class="list-material">
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" id="latestgamessearch0" class="visible">
              </a>
            </li>
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" id="latestgamessearch1" class="visible">
              </a>
            </li>
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" id="latestgamessearch2" class="visible">
              </a>
            </li>
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" id="latestgamessearch3" class="visible">
              </a>
            </li>
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" id="latestgamessearch4" class="visible">
              </a>
            </li>
          </ul>

        </div><!--.results-posts-->
      </div><!--.col-->
</div>


  <div id="loading" class="hidden">
    <div class="col-md-4">
  <div class="loading-bar indeterminate margin-top-10"></div>
  </div>
</div>

<div id="ResultsGames" class="hidden">
      <div class="col-md-4">
        <div class="result result-posts">
          <h4>Games <small>(5)</small></h4>

          <ul class="list-material">
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" id="gameresult0" class="visible">
              </a>
            </li>
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" id="gameresult1" class="visible">
              </a>
            </li>
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" id="gameresult2" class="visible">
              </a>
            </li>
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" id="gameresult3" class="visible">
              </a>
            </li>
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" id="gameresult4" class="visible">
              </a>
            </li>
          </ul>

        </div><!--.results-posts-->
      </div><!--.col-->
</div>
      <div class="col-md-4">
        <div class="result result-users">
          <h4>USERS <small>(3)</small></h4>

          <ul class="list-material">
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" class="visible">
                <div class="list-action-left">
                  <!-- <img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt=""> -->
                </div>
                <div class="list-content">
                  <span class="title">Pari Subramanium</span>
                  <span class="caption">Legacy Response Assistant</span>
                </div>
              </a>
            </li>
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" class="visible">
                <div class="list-action-left">
                  <!-- <img src="../../assets/globals/img/faces/10.jpg" class="face-radius" alt=""> -->
                </div>
                <div class="list-content">
                  <span class="title">Andrew Fox</span>
                  <span class="caption">National Branding Technician</span>
                </div>
              </a>
            </li>
            <li class="has-action-left">
              <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
              <a href="#" class="visible">
                <div class="list-action-left">
                  <!-- <img src="../../assets/globals/img/faces/11.jpg" class="face-radius" alt=""> -->
                </div>
                <div class="list-content">
                  <span class="title">Lieke Vermeulen</span>
                  <span class="caption">Global Tactics Consultant</span>
                </div>
              </a>
            </li>
          </ul>

        </div><!--.results-user-->
      </div><!--.col-->

      <div class="col-md-4">
        <div class="result result-files">
          <h4>FILES <small>(0)</small></h4>
          <p>No results were found</p>
        </div><!--.results-files-->
      </div><!--.col-->

    </div><!--.row-->
  </div><!--.results-->
</div><!--.search-layer-->
<!-- END OF SEARCH LAYER -->

<script type="text/javascript">
$(document).ready(function(){
  $("#LatestGamesSearch").removeClass( "hidden" );
  // generateLatestGames();

  var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();
  /* our handler to the ajax request */
  var xhr = null;

  $("#input-search").keyup(function(){

    /* if there is a previous ajax request, then we abort it and then set xhr to null */
      $.xhrPool.abortAll();

        $("#ResultsGames").addClass( "hidden" );
        $("#LatestGamesSearch").addClass( "hidden" );
        $("#loading").removeClass( "hidden" );

        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;

        if (filter.length > 2){
          delay(function(){
        xhr = $.ajax({
          url: "http://api.giantbomb.com/search/",
          type: "get",
          data: {api_key : "1f2fbb08dde5a07ceb29f21e581301f3105598e8", query: filter, field_list : "name,image,id", resources: "game", format : "jsonp", json_callback : "gamer" },
          dataType: "jsonp",
          success: function(msg) {
                        /* handle the ajax response */
                }
        });
        }, 1000);
        }
        else{
          $("#loading").addClass( "hidden" );
          $("#ResultsGames").addClass( "hidden" );
          $("#LatestGamesSearch").removeClass( "hidden" );
        }

        var numberItems = count;
        $("#filter-count").text("Number of Comments = "+count);

    });

});

function gamer(data) {
    // console.log(data);
    var result = "";

    for (var i = 0; i < 5; i++) {
    result = "";
    var post = data.results[i];
    var imageURL = post.image.thumb_url;
    var title = post.name;
    var gameID = post.id;

    result += '<div class="list-action-left">';
    result += "<div class='game-thumbnail' style='background: url(" + imageURL + ") center/cover'></div></div>";
    result += '<div class="list-content">';
    result += '<span class="title">' + title + '</span>';
    result += '<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks.</span>';
    result += '</div>'

    $("#gameresult"+i).html(result);
    $("#gameresult"+i).attr('href','/game.html?gameid=' + gameID);
    $("#loading").addClass( "hidden" );
    var filter = $("#input-search").val().length;
    console.log(filter);
    if (filter > 2){
    $("#ResultsGames").removeClass( "hidden" );
  }

  }
}
</script>
