<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
{% include search.html %}
    <!-- Start Layout -->
    {% include sidebar.html %}
      {% include header.html %}
        {{ content }}
      {% include footer.html %}

    </div>
    <!-- /End Layout-->

    <!-- BEGIN GLOBAL AND THEME VENDORS -->
    <script src="{{ "/js/global-vendors.js" | prepend: site.baseurl }}"></script>
    <!-- END GLOBAL AND THEME VENDORS -->

    <!-- BEGIN PLUGINS AREA -->
    <!-- <script src="http://maps.google.com/maps/api/js?sensor=true&amp;libraries=places"></script> -->
    <!-- <script src="../../assets/globals/plugins/gmaps/gmaps.js"></script> -->
    <script src="{{ "/plugins/bxslider/jquery.bxslider.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/plugins/d3/d3.min.js" | prepend: site.baseurl }}"></script>
    <!-- <script src="{{ "/plugins/rickshaw/rickshaw.min.js" | prepend: site.baseurl }}"></script> -->
    <script src="{{ "/plugins/jquery-knob/excanvas.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/plugins/jquery-knob/dist/jquery.knob.min.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/plugins/chartjs/Chart.min.js" | prepend: site.baseurl }}"></script>
  	<!-- END PLUGINS AREA -->

  	<!-- PLUGINS INITIALIZATION AND SETTINGS -->
  	<script src="{{ "/scripts/charts-chartjs.js" | prepend: site.baseurl }}"></script>
  	<!-- END PLUGINS INITIALIZATION AND SETTINGS -->
    <!-- <script src="{{ "/plugins/video.js/dist/video-js/video.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/plugins/video.js/plugins/playlist/videojs-playlists.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/plugins/video.js/plugins/youtube/youtube.js" | prepend: site.baseurl }}"></script> -->

    <!-- <script src="../../assets/globals/plugins/gauge/gauge.min.js"></script> -->
    <!-- END PLUGINS AREA -->

    <!-- PLEASURE -->
    <script src="{{ "/js/pleasure.js" | prepend: site.baseurl }}"></script>
    <!-- ADMIN 1 -->
    <script src="{{ "/js/layout.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/scripts/sliders.js" | prepend: site.baseurl }}"></script>
    <!-- <script src="../../assets/globals/scripts/maps-google.js"></script> -->
    <script src="{{ "/scripts/widget-audio.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/widget-video.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/charts-knob.js" | prepend: site.baseurl }}"></script>
    <!-- <script src="{{ "/scripts/index.js" | prepend: site.baseurl }}"></script> -->
    <script src="{{ "/scripts/typewatch.js" | prepend: site.baseurl }}"></script>
    <!-- BEGIN INITIALIZATION-->
    <script>
    $(document).ready(function () {
      Pleasure.init();
      Layout.init();

      // Index.init();
      // WidgetAudio.single();
      ChartsKnob.init();
      ChartsChartJs.init();

    });
    </script>

    <script>
  (function(w, d){
   var id='embedly-platform', n = 'script';
   if (!d.getElementById(id)){
     w.embedly = w.embedly || function() {(w.embedly.q = w.embedly.q || []).push(arguments);};
     var e = d.createElement(n); e.id = id; e.async=1;
     e.src = ('https:' === document.location.protocol ? 'https' : 'http') + '://cdn.embedly.com/widgets/platform.js';
     var s = d.getElementsByTagName(n)[0];
     s.parentNode.insertBefore(e, s);
   }
  })(window, document);
  embedly("defaults", {
  cards: {
    controls: 0
  }
});
</script>


</script>
    <!-- END INITIALIZATION-->

    <!-- BEGIN Google Analytics -->
    <!-- <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
      ga('send', 'pageview');
    </script> -->
    <!-- END Google Analytics -->

    </body>
    </html>
