<div class="display-animation">
<div class="col-md-4 margin-bottom-10">
  <div class="card card-quote card-black bg-image bg-opaque5" {% if post.image %} style="background: url('{{ post.image }}') center/cover;" {% endif %}">

    <div class="card-body text-color-white">
      <div class="quote">
        <i class="fa fa-quote-left"></i>
        {{ post.excerpt }}
        <i class="fa fa-quote-right"></i>
      </div><!--.quote-->
      <a href="#" class="author">{{ post.author }}</a>
    </div><!--.card-body-->

  </div><!--.card-->
</div><!--.col-md-4-->
</div>
