---
layout: fullpage
---

<div id="parallaxgame" class="page-header brown full-content parallax opacity-hero" style="height: 600px; overflow: hidden">
  <div class="parallax-bg" style="background: url('{{ page.image }}') 50% 50%;">
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h1>{{ page.categories }} <small>by {{ page.author }}</small></h1>
    </div><!--.col-->
    <div class="col-sm-6">
      <ol class="breadcrumb">
        <li><a href="#"><i class="ion-home"></i></a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#" class="active">Blog</a></li>
      </ol>
    </div><!--.col-->
  </div><!--.row-->

</div><!--.page-header-->
<div class="parallax-content">
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center margin-bottom-40 text-color-white">{{ page.title }}</h1>
  </div><!--.col-->
</div><!--.row-->

<div class="row">
  <div class="col-md-8 col-md-offset-2">

<p>{{ content }}</p>

  </div><!--.col-->
</div><!--.row-->
</div>
